<launch>
  <arg name="x_pos" default="-40.0"/>
  <arg name="y_pos" default="-2.0"/>
  <arg name="z_pos" default="5.0"/>

  <node pkg="tf" type="static_transform_publisher" name="camera_tf" args="-1.95 -0.55 2.0 -1.58 0 -1.58 /odom /camera_link 100"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find citysim)/worlds/simple_city_no_car.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
    <arg name="verbose" value="true"/>
  </include>
  
  <rosparam param="robot_description" command="load" file="$(find prius_description)/urdf/prius.urdf" />

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model prius -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description" />

</launch>
